<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="~{layout}">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h1>Welcome!</h1>
						<p>
							You are logged in. Click <a th:href="@{/product/list}">Here</a>
							to see product list.
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>
