<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>

<div layout:fragment="content">
<section class="my-5">
    
		<div class="col-md-4 container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        <form th:action="@{/login}" method="post">
            <div class="form-group">
            <label> User Name : </label>
            <input type="text" name="username" class="form-control"/> 
            </div>
            <div class="form-group">
            <label> Password: </label>
            <input type="password" name="password" class="form-control"/> </div>
            
            <div><input type="submit" value="Sign In" class="btn btn-primary"/>
            <input type="reset" value="Reset" class="btn btn-default"/></div>
        </form>
        </div>
        </section>
        </div>
    </body>
</html>
